.square{
    height: 200px;
    width: 200px;
    border: solid 2px;
}
.grid{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 618px;
    height: 618px;
    padding: 0px 300px;
}
.header{
    padding: 0px 300px;
}
.mole{
    background-image: url(mole.jpg) ;
    background-size: cover ;
}